*{
    box-sizing:border-box;
}
body{
font-family:sans-serif;
    margin:0;
}
header{
    background-image:url('..css/img/food1.jpg');
    background-size:cover;
    min-height:100vh;
    background-position:center center;
}
.container{
   
    width:1000px;
    max-width:100%;
    padding:1rem;
    margin:0 auto;
    height:100%;
}
.logo{
    font-size:30px;
    color:#2d787b;
    font-weight:bold;
    margin-top:30px;
    
}
nav ul{
    list-style-type:none;
    padding:0;
    display:flex;
    margin-top:50px;
    flex-wrap:wrap;
    
}
nav li{
    flex:1 auto;
}
nav li a {
   text-decoration:none;
    padding:1rem 1rem;
    color:#fff;
    background-color:#2f868a;
    font-size:18px;
    display:block;
    text-align:center;
    
}
nav a.active{
    background-color:#fff;
    color:#2d787b;
}
nav a.highlight, .button{
    background-color:#2d787b;
    color:#fff;
    cursor:pointer;
}
nav a:hover{
    opacity:.9;
    
}
.content{
     display:flex;
   
    flex-direction:column;
   align-items:flex-start;
   margin-top:5rem;
    font-size:1rem;
    
}
.content h1{
    background-color:#026e78;
    color:white;
    display:inline-block;
    padding:1rem;
    font-weight:20;
    width:350px;
    
}
.white-link{
    background-color:#fff;
    color:2d99a4;
    padding:1rem;
    text-decoration:none;
    color:#026e78;
    font-weight:bold;
    
}
.teal-link{
      background-color:#026e78;
    color:#fff;
     padding:1rem;
 font-weight:bold;
    margin-top:1rem;

}
.about h2, .menu h2, .primary-text {
   
   color:#2d787b;
    font-weight:bold;
    font-size:30px;
    margin:20px;
}
.m{
    margin:20px;
}
.contact p{
    margin:20px;
    font-size:20px;
}
.contact .form{
    margin:20px;
    font-size:20px;
    padding:10px;
    
}
.fo{
     margin:20px;
    font-size:20px;
    padding:10px;
    color:#2d787b;
}
.reserve{
     color:#2d787b;
   
    font-size:20px;
    margin-top:10px;
    
    
}
.reserve:hover{
    opacity:.9;
    cursor:pointer;
}
